* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#file{
    padding: 10px;
    background-color: rgb(106, 106, 211);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#file:hover{
    background-color: #3e26d7;
    box-shadow: 0 0 20px rgb(101, 65, 222);
    transform: scale(1.1);
}
input{
    display: none;
}