* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    cursor: none;
}
#main{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 40px;
    position: absolute;
}