* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
}
main{
    display: flex;
    gap: 40px;
}
.card{
    width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
    border-radius: 20px;
}
.card .name{
    margin-top: 20px;
    padding:15px 20px;
    color:white;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    white-space: none;
}
img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}
