* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

html,
body {
    height: 100%;
    width: 100%;
    height:100%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    background-color: #9be9f3;
    padding:20px; 
    gap:20px;
}


.card{
    width:250px;
    height:300px;
    background-color: #7de7de;
    border: 2px solid rgb(13, 0, 255);
    box-shadow: 3px 5px 70px black;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
    
}

.card img{
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius: 50%;
    
}
.card h6{
    color:rgb(130, 130, 130);
}
